/* custom.css */

/* Hide keyboard shortcuts overlay by default */
#keyboard-shortcuts-help {
    display: none !important;
}

/* Increase the size of the GitHub icon */
.fa-github, #git-repository-button {
    font-size: 2em !important; /* Adjust the size as needed */
}

.fa-edit, #git-edit-button {
    font-size: 2em !important; /* Adjust the size as needed */
}

.fa-search, #search-toggle i {
    font-size: 2em !important; /* Adjust the size as needed */
}

.fa-paint-brush {
    font-size: 2em !important; /* Adjust the size as needed */
}

.fa-bars {
    font-size: 2em !important; /* Adjust the size as needed */
}